*{
margin:auto;
}
.parent{
    display:flex;
    flex-direction:row;
}
.box1{
    background-color: brown;
    color:white;
    width:60px;
    padding :10px;
    text-align:center;
    margin-top:10px;
    border:5px solid black;

}
.box2{
    background-color: brown;
    color:white;
    width:60px;
     padding :10px;
      text-align:center;
       margin-top:10px;
       border:5px solid black;
    
}
.box3{
    background-color: brown;
    color:white;
    width:60px;
     padding :10px;
      text-align:center;
      margin-top:10px;
   border:5px solid black;
}
.box4{
    background-color: brown;
    color:white;
    width:60px;
     padding :10px;
      text-align:center;
      margin-top:10px;
      border:5px solid black;
}

 

