
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
  line-height: 1.6;
}



.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.left, .middle, .right {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  /* box-shadow: 0 2px 6px rgba(0,0,0,0.2); */
}


.fixed {
  width: 20%;
}


.scroll {
  flex: 1;
  max-height: 400px;
  overflow-y: scroll;
}


.planet-img, .info-img, .moon-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}


.bottom {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
}

.form-box, .login-box {
  width: 40%;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

input, textarea, button {
  width: 90%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background: #f5c542;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #ffdb70;
}

.note {
  margin-top: 10px;
}

.note a {
  color: #2a5298;
  text-decoration: none;
}



nav {
      position: sticky;
      top: 0;
      background: #1e293b;
      color: white;
      padding: 15px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 4px 12px rgba(0,0,0,0.3);
      z-index: 10;
    }

    nav .brand {
      font-size: 20px;
      font-weight: bold;
    }

    nav .links a {
      color: white;
      margin-left: 20px;
      text-decoration: none;
      font-weight: 500;
    }

    nav .links a:hover {
      text-decoration: underline;
    }